

@media screen and (min-width:1025)
{
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
.countdown-container{
    display: flex;
}
body{
    margin-left:0rem;
    padding:0px;
    box-sizing: border-box;
    background: black;
    display: grid;
    }
.bg1{   
        align-items: center;
        z-index: -4;
        max-width: 100%;
        position:absolute;
        margin-top: -10rem;
    }
.CLUB_NAME{
    text-align: center;
    color:white;
    background-color: transparent;
    -webkit-text-stroke: black 1px;
    font-family: "Roboto";
    font-weight: 900px;
    font-size: 40px;
           }
.title{
        position: relative;
        top:-6rem;
           }
.ANNOUCEMENT{
            text-align: center;
            color:white;
            background-color: transparent;
            -webkit-text-stroke: black 1px;
            font-family: "Roboto";
            font-weight: 900px;
            font-size: 30px;
            }
.text{
    display: flex;
    align-items: center;
    justify-content: center; 
} 
.texttitle{
        width:50%;
        display: block;
        margin: auto;
            }
.rectangle{
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0rem;
    display: flex;
}
.logo{
    width: 40px;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index:2;
}
.dangkytoptext{
    position: fixed;
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 10px 15px;
    width: 10rem;
    top: 17px;
    border-radius: 20px;
    text-align:center;
    font-size: 15px;
    font-weight: 900;
    font-family: "Roboto";
    right: 1rem;
}
.dangkytoptext:hover{
    background: violet;
    transition: background 0.5s;
    cursor: pointer;
}
h1.countdowntitle{
    position: relative;
    color:white;
    font-size:2rem;
    left:3rem;
    top:2rem;

}
.countdown-container
{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color:  #ffffff;
    column-gap: 0rem;
    width:25rem;
    left:15rem;
}
.countdown-el{
    margin-left: 3rem;
    text-align: center;
    font-size: 2rem;
}
.countdown-el span{
    text-align: center;
    font-size: 1.5rem;
}
.gio2{
    color:black;
    font-size:2rem;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20%;
    width:3rem;
    height: 2.5rem;
}
.phut2{
    color:black;
    font-size:2rem;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20%;
    width:3rem;
    height: 2.5rem;
}
.giay2{
    color:black;
    font-size:2rem;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20%;
    width:3rem;
    height: 2.5rem;
}

.ngay3{
    color:whitesmoke;
    font-size:1.5rem;
    position: relative;

}
.gio3{
    color:whitesmoke;
    font-size:1.5rem;
    position: relative;
    }
.phut3{
    color:whitesmoke;
    font-size:1.5rem;
    position: relative;
}
.giay3{
    color:whitesmoke;
    font-size:1.5rem;
    position: relative;
}
.bg2{
    width:100%;
    position: relative;
    margin-top:100rem;
    z-index: -2;
}
.keoxuong{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    margin-top:-12rem;
}
.clubintroduction{
    margin-top:-170rem;
    display:grid;
    box-sizing: border-box;
}
.clubintroductiontitle{
    position: relative;
    color:white;
    text-align: center;
    font-family: "Roboto";
    font-weight: 1000;
    font-size: 4rem;
    align-items: center;
}
.gioithieuchung{
    color:white;
    text-align: center;
    position: relative;
    font-size: 3rem;
                }   
.gioithieuchungdesc{
    color:white;
    text-align: center;
    font-size: 1.5rem;
                    }
.cackhoiban{
    color:white;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    position: relative;
}
.cacban{
    width:60%;
    margin:auto;
}
.cacsukien{
    position: relative;
    color:white;
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}
.ffcpart{
    box-sizing: border-box;
    place-self: center;
    display: flex;
    column-gap: 2rem;
}
.ffcimg{
    width:30%;
    margin-left:15rem;
    margin-top: 2rem;
    }
.ffc{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-right: 10rem;
    }
.ffcdesc{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    margin-left:45rem;
    margin-top:-13rem;
    max-width: 100%;
        }
.qspart{
    box-sizing: border-box;
    place-self: center;
    display: flex;
    column-gap: 2rem;
    margin-top:5rem;
}
.quansu{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-left: 10rem;
}
.anhquansu{
    width:30%;
    margin-right:15rem;
    margin-top: 2rem;
}
.quansudesc{
    color:white;
    position: relative;
    color: white;
    font-size: 1.5rem;
    margin-top: -21rem;
    max-width: 30rem;
    text-align: center;
}
.fopart{
    box-sizing: border-box;
    place-self: center;
    display: flex;
    column-gap: 2rem;
    margin-top:5rem;
}
.fo{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-right: 10rem;
}
.anhfo{
    width:30%;
    margin-left:15rem;
    margin-top: 2rem;
}
.fodesc{
    max-width:30rem;
    position: relative;
    color: white;
    font-size: 1.5rem;
    width: 30rem;
    text-align: center;
    margin-top: -17rem;
}

.cacvongtuyengentitle{
    position: relative;
    top:8rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
.cacvongtuyengen{
    box-sizing: border-box;
    display: flex;
}
.vongdonicon{
    position: relative;
    width:20px;
    height:20px;
    background-color: white;
    border-radius: 100%;
    margin-left: 8rem;
}
.line{
    background:white;
    width: 36.5rem;
    position: relative;
    height:3px;
    top:0.5rem;
}
.vongdonicon2{
    position: relative;
    width:20px;
    height:20px;
    background-color: white;
    border-radius: 100%;
}
.line2{
    background:white;
    width: 36rem;
    position: relative;
    height:3px;
    top:0.5rem;
}
.vongdonicon3{
    position: relative;
    width:20px;
    height:20px;
    background-color: white;
    border-radius: 100%;
}
.cacvongtext{
    display:flex;

}
.vongdon{
    position:relative;
    font-weight: 700;
    font-size: 1.5rem;
    color:white;
    text-align: center;
    left:5rem;
}
.vongteamwork{
    position:relative;
    font-weight: 700;
    font-size: 1.5rem;
    color:white;
    text-align: center;
    left:30rem;
}
.vongphongvan{
    position:relative;
    font-weight: 700;
    font-size: 1.5rem;
    color:white;
    text-align: center;
    left:45rem;
}
.hanhchinh{

    text-align: center;
    margin-top:10rem;
    font-size: 2.5rem;
    color:rgb(9, 218, 9);
}
.khoibanchuyenmon{
    display: flex;
    box-sizing: border-box;
}
.chuyenmon{
    color:greenyellow;
    text-align: center;
    margin-top:3.5rem;
    font-size:2.5rem;
}
.chuyenmontext{
    display: flex;
    box-sizing: border-box;
}
.contactnav{
    position: relative;
    background: white;
    width:100%;
    height:3px;
}
.contact{
    color:white;
    background:linear-gradient(to right, rgba(255,0,0,0), rgb(65, 156, 5));
    width:100%;
    height:20rem;
    margin-top:2rem;
}
.contacttitle{
    position:relative;
    margin-top:5rem;
}
.fblink{
    color:white;
    font-size:1.5rem;
}
.hotline{
    color:white;
    font-size:1.5rem;
}
.email{
    color:white;
    font-size:1.5rem;
}
.errorformb{
    visibility: hidden;
}
.dangkygiua{
    display: grid;
    align-items: center;
    justify-content: center;
}
.dangkygiuatext{
    text-decoration: none;
    color:black;
    background-color:white;
    padding: 2rem 2rem;
    width: 20rem;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
}
.dangkygiuatext:hover{
    background: violet;
    transition: background 0.5s;
    cursor: pointer;
}
}




@media screen and (max-width:1024px)
{
.body{
    }
.errorformb{
    color:black;
    text-align: center;
}
.bg1{
    width:100%;
}
}





























